table, th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.salesTable {
    margin-top: 30px;
}

.salesTable td:last-of-type {
    width: 30%;
}

.date {
    background-color: #d2b48c;
    text-align: center;
    font-weight: bold;
}

.salesTable th {
    background-color: #e2d2b0;
}